# Jupyter checkpoints
notebooks/.ipynb_checkpoints/
*.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store

# LaTeX temp
*.aux
*.log
*.out

# Large data (remove this line if you want CSVs tracked)
# data/*.csv
